* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}
h1,
.heading-xl {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
}

h2,
.heading-lg {
  color: #102746;
  font-size: 35px;
  font-weight: 500;
}

h3,
.heading-md {
  color: #102746;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

h4,
.heading-sm {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
p,
.paragraph {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.container {
  max-width: 1362px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.btn {
  border: none;
  text-align: center;
  vertical-align: middle;
 
  display: inline-block;
  padding: 10px 39px;
}

.btn-primary {
  background-color: #1b7dff;
  color: #08a0c6;
  background: linear-gradient(to right, rgb(21 24 36 / 16%) 50%, #1b7dff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all .7s ease;
    border: 1px solid black;
}
.btn-primary:hover {
  background-position:right bottom;
  color: #fff;
}

.btn-lg {
  font-size: 24px;
  font-weight: 500;
}
.btn-sm {
  font-size: 16px;
  font-weight: 400;
}

a {
 text-decoration: none;
}
/* .............navigation--bar............ */
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.nav-wrapper {
  padding: 28px 10px;
}
.navbar {
  text-align: right;
}

.navbar a {
  font-size: 18px;
  color: #fff;
}

.navbar .navbar__navlinks {
  display: inline-block;
}

.navbar .navbar__navlinks li {
  display: inline-block;
  color: #fff;
}
.navbar .navbar__navlinks li:not(:last-child) {
  margin-right: 83px;
}
.nav__link {
  font-size: 18px;
  text-shadow: 30px;
  color: #fff;
  letter-spacing: 1px;
}

.nav__link::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}

.navbar__brand__logo {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* .............navigation--bar end............ */

/* ...........hamburger........... */

.navigation {
  display: inline-block;
}
.navbar__brand__logo a {
  display: inline-block;
}
.ham-button {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}

.ham-button span,
.ham-button span::before,
.ham-button span::after {
  display: block;
  background-color: white;
  height: 2px;
  width: 32px;
  border-radius: 2px;
  position: relative;
}

.ham-button span::before,
.ham-button span::after {
  content: "";
  position: absolute;
}

.ham-button span::before {
  bottom: 7px;
}

.ham-button span::after {
  top: 7px;
}

/* ...........hamburger end........... */

/* ................hero section.............. */

.banner__image {
  min-height: 762px;
  width: 100%;
  background: url("https://live.staticflickr.com/65535/52408443403_083bd50935_k.jpg")
    no-repeat center/cover;
    position: relative;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero article > .heading-xl {
  margin-bottom: 22px;
}
.hero article > .paragraph{
  color: #fff;
  width: 60%;
  margin-bottom: 59px;
}
.input-feild {
  display: inline-block;
}
.input-feild li {
  display: inline-block;
  vertical-align: middle;
}

.input-feild li:not(:last-child):before {
  content: url("odigo-icons/circle.svg");
  padding-right: 23px;
}

.input {
  display: inline-block;
  padding-right: 96px;
}
.input-feild li:not(:last-child):after {
  content: "";
  display: block;
  width: 80%;
  border-bottom: solid 2px #fff;
  padding-top: 20px;
}

.input-feild a {
  display: inline-block;
  vertical-align: middle;
}

.input {
  border-style: hidden;
  background-color: transparent;
  color: #fff;
}
input,
input::placeholder {
  font: 18px lato;
  color: #fff;
  line-height: 24px;
  width: 325px;
}

.input:focus {
  outline: none;
  color: white;
}

/* ................section-1 end................ */

/* ...................section-2 start.................. */

.heading-lg_title {
  padding: 0 0 120px 0;
}

.Benefits {
  position: relative;
  margin: -150px auto 0;
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  padding: 100px 50px;
  max-width: 86%;
}

/* ...cards section...... */

.card__items {
  width: calc(100% / 3);
  float: left;
  list-style: none;
}

.card__title {
  color: #000000;
  margin-bottom: 26px;
}

.card__items a {
  display: inline-block;
}

.card__image {
  width: 66px;
  height: auto;
  margin-bottom: 37px;
}

.card__paragraph{
  margin-bottom: 39px;
}

.card__linkarrow {
  color: #000000;
  border: 1px solid #eef2f3;
  color: #006dfe;
  border-radius: 50px;
  padding: 0.5rem;
  transition: box-shadow 0.4s ease-in-out, color 0.3s, background-color 0.4s;
  /* transition: color 0.3s, background-color 0.4s; */
}

.resize {
  zoom: 0.8;
  margin-left: 15px;
  transition: margin-left 0.4s ease-in-out;
}
.card__linkarrow:hover {
  background-color: #006dfe;
  color: white;

}
.card__linkarrow:hover > .resize {
  /* margin-left: 15px; */
  stroke: white;
}
/* ..........section2 end................ */
/* ............section3 starts...................... */
.trip-places_heading {
  display: inline-block;
  list-style: none;
  width: calc((100% / 2) - 10px);
}
.trip-places {
  padding: 131px 0;
}
.trip-places_title {
  display: inline-block;
}

.trip-places_title:after {
  content: "";
  display: block;
  width: 60%;
  border-bottom: solid 3px #006dfe;
  padding-top: 7px;
}

.trip-places_link {
  text-align: end;
}

.trip-places_left {
  margin-bottom: 46px;
}

.twoclm-layout {
  width: calc((100% / 2) - 5px);
  display: inline-block;
  position: relative;
  text-align: center;
}

.twoclm-layout:not(:last-child) {
  margin: 0 10px 10px 0;
}

.trip-locations {
  font-size: 0;
}

.trip-locations__img {
  width: 100%;
  height: 354px;
  object-fit: cover;
  transition: filter 0.4s ease-in-out;
}
.trip-locations__img:hover{
  filter: brightness(50%);
}

.trip-locations__name {
  position: absolute;
  bottom: 0;
  z-index: 20;
  padding: 0 0 29px 27px;
}

.threeclm-layout {
  width: calc((100% / 3) - 7px);
  /* float: right; */
  display: inline-block;
  position: relative;
}
.threeclm-layout:not(:last-child) {
  margin: 0 10px 10px 0;
}
.img-sm {
  height: 283px;
}
/* ...............section3 ends.......... */

/* ...............section4 starts............. */

.place-details {
  padding-bottom: 139px;
}
.places {
  padding-bottom: 77px;
}
.places:last-child {
  padding-bottom: 0;
}
.about-places:not(:last-child) {
  float: right;
}
.about-places,
.places picture {
  width: calc((100% - 50px) / 2);
}

.places:last-child > .about-places,
.places picture {
  float: left;
}
.places > picture {
  display: inline-block;
  font-size: 0;
}
.rgt-mg {
  margin-right: 40px;
}
.places img {
  height: 354px;
  max-width: 100%;
}

.places__card-title {
  margin-bottom: 45px;
}
.places__card-para {
  color: #102746;
  margin-bottom: 56px;
  padding-right: 30px;
}

.box-items {
  width: calc((100% - 75px) / 3);
  display: inline-block;
  margin: 50px 0 0 25px;
}

.box-img {
  height: 354px;
  max-width: 100%;
  object-fit: cover;
}
.imagebox {
  font-size: 0;
  padding: 0 0 144px 0;
}

.box-content {
  padding: 41px 50px 31px 0;
}

.box-item_merge {
  position: relative;
  display: inline-block;
}
.img-content {
  padding: 12px 25px;
  height: 50px;
  width: 100%;
  background-color: rgba(21, 24, 36, 0.6);
  position: absolute;
  bottom: 0;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  color: #fff;
  z-index: 10;
}
.img-content__text {
  display: inline-block;
  color: #fff;
}

/* .icons::before {
  content: url("heart-filled.svg");
  padding: 0 14px 0 0;
  vertical-align: middle;
}

.icons::after {
  content: url("message-detail.svg");
  padding: 0 0 0 5px;
  vertical-align: middle;
} */

.icons {
  padding: 0 0 0 10px;
}
.img-like {
  font-size: 16px;
  text-align: end;
 
  color: #fff;
  position: absolute;
  right: 5%;
}
/* ............footsection.... */
.footer__clip {
  font-size: 0;
}
.footer__clip-image {
  height: 609px;
  width: 100%;
  object-fit: cover;
}
.footer-content {
  width: 100%;
  background-color: #0e1d28;
  display: inline-block;
  padding: 118px 0;
}

.footer-content__nav ul li {
  list-style: none;
}
.navitems ul {
  display: inline-block;
}

.navitems li {
  list-style: none;
  color: #fff;
}
.nav__link  {
 
  color: #fff;
  display: inline-block;
}

.col-1 {
  float: left;
  width: 55%;
}

.navitems {
  float: left;
  width: 15%;
  padding: 0 10px 10px 30px;
}

.col-1 a {
  display: inline-block;
  font-size: 0;
}

@media screen and (max-width: 1024px) {
  h1,
  .heading-xl {
    font-size: 40px;
  }
  h2,
  .heading-lg {
    font-size: 28px;
  }
  p,
  .paragraph{
    font-size: 14px;
    line-height: 18px;
  }
  .ham-button {
    display: block;
  }

  .navigation {
    display: none;
  }

  .hero__hed.heading-xl_title {
    margin-bottom: 18px;
    padding-right: 190px;
  }
  .hero__paragraph_cnt {
    padding-right: 240px;
    margin-bottom: 39px;
  }
  .threeclm-layout {
    margin: 0 10px 10px 0;
  }

  .input-feild li:not(:last-child):before {
    padding-right: 16px;
  }

  .input {
    padding-right: 76px;
  }
  .input-feild li:not(:last-child):after {
    width: 70%;
    margin: 0 0 10px 0;
  }

  input,
  input::placeholder {
    font: 16px lato;
    width: 300px;
  }
  .heading-lg_title {
    text-align: center;
  }
  .card__items {
    width: 100%;
    text-align: center;
  }
  .card__items:not(:last-child) {
    border-bottom: 1px solid grey;
    margin: 0 0 20px;
  }
  .twoclm-layout {
    width: 100%;
    margin-bottom: 10px;
  }
  .threeclm-layout {
    width: calc((100% / 2) - 10px);
  }

  .trip-locations {
    text-align: center;
  }

  .box-items {
    width: calc((100% - 50px) / 2);
  }
  .box-content {
    padding: 41px 100px 31px 0;
  }
  .Benefits {
    padding: 70px 0 60px 0;
  }
}

@media screen and (max-width: 768px) {
  /* ............section3 starts...................... */
  h1,
  .heading-xl {
    font-size: 25px;
  }
  .twoclm-layout {
    width: 100%;
  }
  h2,
  .heading-lg {
    font-size: 20px;
  }
  p,
  .paragraph{
    font-size: 12px;
    line-height: 14px;
  }

  .threeclm-layout {
    width: 100%;
  }

  .hero__paragraph_cnt {
    padding-right: 140px;
    margin-bottom: 20px;
  }
  .hero__hed.heading-xl_title {
    margin-bottom: 18px;
    padding-right: 120px;
    line-height: 30px;
  }
  .heading-lg_title {
    padding: 0 0 60px 0;
  }

  .trip-locations {
    padding-top: 10px;
  }

  .trip-places {
    padding: 80px 0;
  }

  input,
  input::placeholder {
    font: 12px lato;
    width: 200px;
  }
  .input-feild li:not(:last-child):after {
    width: 80%;
    padding-top: 5px;
  }
  .input {
    padding-right: 76px;
  }

  .btn-lg {
    font-size: 14px;
    font-weight: 500;
  }

  .about-places,
  .places picture {
    width: 100%;
    text-align: center;
  }
  .about-places {
    padding-bottom: 70px;
  }
  .box-img {
    width: 100%;
  }
  .box-item_merge {
    width: 100%;
  }
  .box-items {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .box-content {
    padding: 41px 0 31px 0;
  }

  .navitems {
    text-align: center;
    float: none;
    padding: 0 0 20px 0;
    margin: 0 auto;
    width: 100%;
  }
  .foot-link {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .col-1 {
    float: none;
    width: 100%;
    text-align: center;
  }
  .card__linkarrow {
    font-size: 12px;
  }
  .resize {
    zoom: 0.5;
  }
  .imagebox {
    padding: 0 0 70px 0;
  }
}
